#body {
    width:auto;
    height:auto;
}

#nav {
    font-family: Calibri;
    font-size: 20px; 
    color: #051212;
}

#banner {
    color: #051212;
   font-family: Calibri;
   font-size: 20px;
   text-align: center;
}

#main {
    font-family: Calibri;
    font-size: 50px;
    color: #051212;
}

#form {
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    color: #051212;   
}

.linkedin {
    height: 50px;
    width: 50px;
}

.github {
    height: 50px;
    width: 50px;
}

.email {
    height: 50px;
    width: 50px;
}

#copy {
    text-align: center;
    height: 5px;
    font-family: calibri;
    font-size: 10px;
}
