/* styles for desktop devices */
@media only screen and (min-width: 992px) {
    body {
      width: 80%;
      margin: auto;
    }
  }
  
  /* styles for tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      width: 90%;
      margin: auto;
    }
  }
  
  /* styles for mobile devices */
  @media only screen and (max-width: 767px) {
    body {
      width: 100%;
      margin: 0;
    }
  }

#body {
    width:auto;
    height:auto;
}

.header {
    font-family: Calibri;
    font-size: 20px; 
    color: #0b0b0b;
    background-color: rgb(245, 242, 239)
.ul {
      display: list-item;
      list-style-type: none;
      margin: auto;
      padding: auto;
    }
}

#banner {
    color: #0b0b0b;
   font-family: Calibri;
   font-size: 20px;
   text-align: center;
}

#main {
    color: #0b0b0b;
    font-family: Calibri;
    font-size: 50px;
    text-align: center;
}

#form {
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    color: #0b0b0b;   
}

.linkedin {
    height: 50px;
    width: 50px;
}

.github {
    height: 50px;
    width: 50px;
}

.email {
    height: 50px;
    width: 50px;
}

#copy {
    text-align: center;
    height: 5px;
    font-family: calibri;
    font-size: 10px;
}

.github {
    height: 50px;
    width: 50px;
}

.email {
    height: 50px;
    width: 50px;
}

#header {
  text-align: center;
  font-family: calibri;
  font-size: 20px;
  color: #0b0b0b;
}

#footer {
  text-align: center;
  font-family: calibri;
  font-size: 20px;
  color: #0b0b0b; 
.ul {
    display: list-item;
    list-style-type: none;
    margin: auto;
    padding: auto;
  }
}
